.cover {
  min-width: 320px;
  max-width: 1284px;
  width: 100%;

  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}