.footer {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 96px 0 24px 0;

  min-width: 288px;
  max-width: 1184px;
  width: 92.5%;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 90.62%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;

    width: 90%;
  }
}
